*{margin: 0; padding: 0; box-sizing: border-box;}



/* header a{color:red !important;} */
.navbar-brand:hover{color:blue}
.circle{
    content: "";
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,105,1) 0%, rgba(255,98,0,1) 100%);
    border-radius: 50%;
    position: relative;
    display: flex; align-items: center; justify-content: center;
}
.circle img{width: 60%; }
.front{background-color: #f8f9fa; height: 600px;}

.sentence{height: 100px; display: flex; justify-content: center; align-items: center;}
.tell{background-color: white;}
.tell i{font-size: 70px; background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
/* .tell img{margin-left: 250px;} */
.circle{border-radius: 50%;}
#desing-bg{background-color: red;}
.bg-proje{
    position: relative; 
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('sea.avif');
    

    }

.bg-proje::before{::before {    
    content: "";
    background-image: url('retro.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
}

.app-bg{ background: linear-gradient(to right, #9b9ed3 0%, #3948e9 100%);}
.foot a{text-decoration: none; color: wheat
    ;}
    .foot a:hover{color: whitesmoke;}